<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "https://bootswatch.com/5/pulse/bootstrap.min.css">
  
</head>

<body>

<h1>Access Your Account</h1>

{% block title %} Log in to Your Account {% endblock %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        {{form}}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Log In</button>
      </div>
</form>
{% endblock %}  

</body>
</html>