

{% extends "base.html" %}

{%block content%}
<div class = "tasks">
<h1>Tasks</h1>


<div class="task-list">
  {% for x in mytasks %}
    <div class="task-card">
      <h3>{{ x.title }}</h3>
      <p>{{ x.description }}</p>
      <p><strong>Due Date:</strong> {{ x.due_date }}</p>
      <p><strong>Point Value:</strong> {{ x.value }}</p>
      {% if not x.completed %}
        <form method="POST" action="{% url 'tasks:complete' x.id %}">
          {% csrf_token %}
          <input type="hidden" name="task_id" value="{{ x.id }}">
          <button type="submit">Complete</button>
        </form>
      {% else %}
        <p>Completed</p>
      {% endif %}
      <form method="POST" action="{% url 'tasks:delete' x.id %}">
        {% csrf_token %}
        <input type="hidden" name="task_id" value="{{ x.id }}">
        <button type="submit">Delete</button>
      </form>
    </div>
  {% endfor %}
</div>
<br>
<button onclick="window.location.href='new';">Click Here to Make a New Task</button>
</div>

<style>
  .tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1650px;
    margin: 0 auto;
    padding: 20px;
  }

  .task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1650px;
    margin: 0 auto;
    padding: 20px;
  }

  .task-card {
    background-color: #ffc58e;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }

  .task-card h3 {
    margin-top: 0;
    font-size: 1.5em;
  }

  .task-card p {
    font-size: 1em;
    margin: 5px 0;
  }

  .task-card strong {
    font-weight: bold;
  }
</style>


{%endblock%}
</body>
</html>